<div class="row" id="sequenceWrapper" style="width: 100%">
  <div class="small-12 columns">
    <canvas class="container" id="animation"></canvas>
    <ul class="inline-list kickUL" style="width: 105%">
      <li class="drum" id="kick"><span class="inst">Kick</span></li>
      <li class="seqStep kick" kick-sequence-position="0"></li>
      <li class="seqStep kick" kick-sequence-position="1"></li>
      <li class="seqStep kick" kick-sequence-position="2"></li>
      <li class="seqStep kick" kick-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep kick" kick-sequence-position="4"></li>
      <li class="seqStep kick" kick-sequence-position="5"></li>
      <li class="seqStep kick" kick-sequence-position="6"></li>
      <li class="seqStep kick" kick-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep kick" kick-sequence-position="8"></li>
      <li class="seqStep kick" kick-sequence-position="9"></li>
      <li class="seqStep kick" kick-sequence-position="10"></li>
      <li class="seqStep kick" kick-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep kick" kick-sequence-position="12"></li>
      <li class="seqStep kick" kick-sequence-position="13"></li>
      <li class="seqStep kick" kick-sequence-position="14"></li>
      <li class="seqStep kick" kick-sequence-position="15"></li>
    </ul>
    <ul class="inline-list snareUL" style="width: 105%">
      <li class="drum" id="snare"><span class="inst">Snare</span></li>
      <li class="seqStep snare" snare-sequence-position="0"></li>
      <li class="seqStep snare" snare-sequence-position="1"></li>
      <li class="seqStep snare" snare-sequence-position="2"></li>
      <li class="seqStep snare" snare-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep snare" snare-sequence-position="4"></li>
      <li class="seqStep snare" snare-sequence-position="5"></li>
      <li class="seqStep snare" snare-sequence-position="6"></li>
      <li class="seqStep snare" snare-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep snare" snare-sequence-position="8"></li>
      <li class="seqStep snare" snare-sequence-position="9"></li>
      <li class="seqStep snare" snare-sequence-position="10"></li>
      <li class="seqStep snare" snare-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep snare" snare-sequence-position="12"></li>
      <li class="seqStep snare" snare-sequence-position="13"></li>
      <li class="seqStep snare" snare-sequence-position="14"></li>
      <li class="seqStep snare" snare-sequence-position="15"></li>
    </ul>
    <ul class="inline-list hatUL" style="width: 105%">
      <li class="drum" id="hat"><span class="inst">Hat</span></li>
      <li class="seqStep hat" hat-sequence-position="0"></li>
      <li class="seqStep hat" hat-sequence-position="1"></li>
      <li class="seqStep hat" hat-sequence-position="2"></li>
      <li class="seqStep hat" hat-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep hat" hat-sequence-position="4"></li>
      <li class="seqStep hat" hat-sequence-position="5"></li>
      <li class="seqStep hat" hat-sequence-position="6"></li>
      <li class="seqStep hat" hat-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep hat" hat-sequence-position="8"></li>
      <li class="seqStep hat" hat-sequence-position="9"></li>
      <li class="seqStep hat" hat-sequence-position="10"></li>
      <li class="seqStep hat" hat-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep hat" hat-sequence-position="12"></li>
      <li class="seqStep hat" hat-sequence-position="13"></li>
      <li class="seqStep hat" hat-sequence-position="14"></li>
      <li class="seqStep hat" hat-sequence-position="15"></li>
    </ul>
    <ul class="inline-list tomUL" style="width: 105%">
      <li class="drum" id="tom"><span class="inst">Tom</span></li>
      <li class="seqStep tom" tom-sequence-position="0"></li>
      <li class="seqStep tom" tom-sequence-position="1"></li>
      <li class="seqStep tom" tom-sequence-position="2"></li>
      <li class="seqStep tom" tom-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep tom" tom-sequence-position="4"></li>
      <li class="seqStep tom" tom-sequence-position="5"></li>
      <li class="seqStep tom" tom-sequence-position="6"></li>
      <li class="seqStep tom" tom-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep tom" tom-sequence-position="8"></li>
      <li class="seqStep tom" tom-sequence-position="9"></li>
      <li class="seqStep tom" tom-sequence-position="10"></li>
      <li class="seqStep tom" tom-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep tom" tom-sequence-position="12"></li>
      <li class="seqStep tom" tom-sequence-position="13"></li>
      <li class="seqStep tom" tom-sequence-position="14"></li>
      <li class="seqStep tom" tom-sequence-position="15"></li>
    </ul>
    <ul class="inline-list ohatUL" style="width:105%">
      <li class="drum" id="ohat"><span class="inst">OHat</span></li>
      <li class="seqStep ohat" ohat-sequence-position="0"></li>
      <li class="seqStep ohat" ohat-sequence-position="1"></li>
      <li class="seqStep ohat" ohat-sequence-position="2"></li>
      <li class="seqStep ohat" ohat-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep ohat" ohat-sequence-position="4"></li>
      <li class="seqStep ohat" ohat-sequence-position="5"></li>
      <li class="seqStep ohat" ohat-sequence-position="6"></li>
      <li class="seqStep ohat" ohat-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep ohat" ohat-sequence-position="8"></li>
      <li class="seqStep ohat" ohat-sequence-position="9"></li>
      <li class="seqStep ohat" ohat-sequence-position="10"></li>
      <li class="seqStep ohat" ohat-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep ohat" ohat-sequence-position="12"></li>
      <li class="seqStep ohat" ohat-sequence-position="13"></li>
      <li class="seqStep ohat" ohat-sequence-position="14"></li>
      <li class="seqStep ohat" ohat-sequence-position="15"></li>
    </ul>
  </div>
</div>
