<nav class="top-bar">
  <section class="top-bar-section">
    <ul class="left"></ul>
    <ul class="navButton right">
      <li class="divider"></li>
      <li class="divider"></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
