<div class="row" id="synthWrapper" style="width: 100%">
  <div class="small-12 columns">
    <canvas class="container" id="animation2"></canvas>
    <ul class="inline-list aUL" style="width: 105%">
      <li class="drum" id="a"><span class="inst">A</span></li>
      <li class="seqStep a" a-sequence-position="0"></li>
      <li class="seqStep a" a-sequence-position="1"></li>
      <li class="seqStep a" a-sequence-position="2"></li>
      <li class="seqStep a" a-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep a" a-sequence-position="4"></li>
      <li class="seqStep a" a-sequence-position="5"></li>
      <li class="seqStep a" a-sequence-position="6"></li>
      <li class="seqStep a" a-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep a" a-sequence-position="8"></li>
      <li class="seqStep a" a-sequence-position="9"></li>
      <li class="seqStep a" a-sequence-position="10"></li>
      <li class="seqStep a" a-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep a" a-sequence-position="12"></li>
      <li class="seqStep a" a-sequence-position="13"></li>
      <li class="seqStep a" a-sequence-position="14"></li>
      <li class="seqStep a" a-sequence-position="15"></li>
    </ul>
    <ul class="inline-list bUL" style="width: 105%">
      <li class="drum" id="b"><span class="inst">B</span></li>
      <li class="seqStep b" b-sequence-position="0"></li>
      <li class="seqStep b" b-sequence-position="1"></li>
      <li class="seqStep b" b-sequence-position="2"></li>
      <li class="seqStep b" b-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep b" b-sequence-position="4"></li>
      <li class="seqStep b" b-sequence-position="5"></li>
      <li class="seqStep b" b-sequence-position="6"></li>
      <li class="seqStep b" b-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep b" b-sequence-position="8"></li>
      <li class="seqStep b" b-sequence-position="9"></li>
      <li class="seqStep b" b-sequence-position="10"></li>
      <li class="seqStep b" b-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep b" b-sequence-position="12"></li>
      <li class="seqStep b" b-sequence-position="13"></li>
      <li class="seqStep b" b-sequence-position="14"></li>
      <li class="seqStep b" b-sequence-position="15"></li>
    </ul>
    <ul class="inline-list cUL" style="width: 105%">
      <li class="drum" id="c"><span class="inst">C</span></li>
      <li class="seqStep c" c-sequence-position="0"></li>
      <li class="seqStep c" c-sequence-position="1"></li>
      <li class="seqStep c" c-sequence-position="2"></li>
      <li class="seqStep c" c-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep c" c-sequence-position="4"></li>
      <li class="seqStep c" c-sequence-position="5"></li>
      <li class="seqStep c" c-sequence-position="6"></li>
      <li class="seqStep c" c-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep c" c-sequence-position="8"></li>
      <li class="seqStep c" c-sequence-position="9"></li>
      <li class="seqStep c" c-sequence-position="10"></li>
      <li class="seqStep c" c-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep c" c-sequence-position="12"></li>
      <li class="seqStep c" c-sequence-position="13"></li>
      <li class="seqStep c" c-sequence-position="14"></li>
      <li class="seqStep c" c-sequence-position="15"></li>
    </ul>
    <ul class="inline-list dUL" style="width: 105%">
      <li class="drum" id="d"><span class="inst">D</span></li>
      <li class="seqStep d" d-sequence-position="0"></li>
      <li class="seqStep d" d-sequence-position="1"></li>
      <li class="seqStep d" d-sequence-position="2"></li>
      <li class="seqStep d" d-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep d" d-sequence-position="4"></li>
      <li class="seqStep d" d-sequence-position="5"></li>
      <li class="seqStep d" d-sequence-position="6"></li>
      <li class="seqStep d" d-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep d" d-sequence-position="8"></li>
      <li class="seqStep d" d-sequence-position="9"></li>
      <li class="seqStep d" d-sequence-position="10"></li>
      <li class="seqStep d" d-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep d" d-sequence-position="12"></li>
      <li class="seqStep d" d-sequence-position="13"></li>
      <li class="seqStep d" d-sequence-position="14"></li>
      <li class="seqStep d" d-sequence-position="15"></li>
    </ul>
    <ul class="inline-list eUL" style="width: 105%">
      <li class="drum" id="e"><span class="inst">E</span></li>
      <li class="seqStep e" e-sequence-position="0"></li>
      <li class="seqStep e" e-sequence-position="1"></li>
      <li class="seqStep e" e-sequence-position="2"></li>
      <li class="seqStep e" e-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep e" e-sequence-position="4"></li>
      <li class="seqStep e" e-sequence-position="5"></li>
      <li class="seqStep e" e-sequence-position="6"></li>
      <li class="seqStep e" e-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep e" e-sequence-position="8"></li>
      <li class="seqStep e" e-sequence-position="9"></li>
      <li class="seqStep e" e-sequence-position="10"></li>
      <li class="seqStep e" e-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep e" e-sequence-position="12"></li>
      <li class="seqStep e" e-sequence-position="13"></li>
      <li class="seqStep e" e-sequence-position="14"></li>
      <li class="seqStep e" e-sequence-position="15"></li>
    </ul>
    <ul class="inline-list" id="fUL" style="width: 105%">
      <li class="drum" id="f"><span class="inst">F</span></li>
      <li class="seqStep f" f-sequence-position="0"></li>
      <li class="seqStep f" f-sequence-position="1"></li>
      <li class="seqStep f" f-sequence-position="2"></li>
      <li class="seqStep f" f-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep f" f-sequence-position="4"></li>
      <li class="seqStep f" f-sequence-position="5"></li>
      <li class="seqStep f" f-sequence-position="6"></li>
      <li class="seqStep f" f-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep f" f-sequence-position="8"></li>
      <li class="seqStep f" f-sequence-position="9"></li>
      <li class="seqStep f" f-sequence-position="10"></li>
      <li class="seqStep f" f-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep f" f-sequence-position="12"></li>
      <li class="seqStep f" f-sequence-position="13"></li>
      <li class="seqStep f" f-sequence-position="14"></li>
      <li class="seqStep f" f-sequence-position="15"></li>
    </ul>
    <ul class="inline-list gUL" style="width: 105%">
      <li class="drum" id="g"><span class="inst">G</span></li>
      <li class="seqStep g" g-sequence-position="0"></li>
      <li class="seqStep g" g-sequence-position="1"></li>
      <li class="seqStep g" g-sequence-position="2"></li>
      <li class="seqStep g" g-sequence-position="3"></li>
      <li class="divider"></li>
      <li class="seqStep g" g-sequence-position="4"></li>
      <li class="seqStep g" g-sequence-position="5"></li>
      <li class="seqStep g" g-sequence-position="6"></li>
      <li class="seqStep g" g-sequence-position="7"></li>
      <li class="divider"></li>
      <li class="seqStep g" g-sequence-position="8"></li>
      <li class="seqStep g" g-sequence-position="9"></li>
      <li class="seqStep g" g-sequence-position="10"></li>
      <li class="seqStep g" g-sequence-position="11"></li>
      <li class="divider"></li>
      <li class="seqStep g" g-sequence-position="12"></li>
      <li class="seqStep g" g-sequence-position="13"></li>
      <li class="seqStep g" g-sequence-position="14"></li>
      <li class="seqStep g" g-sequence-position="15"></li>
    </ul>
  </div>
</div>
