<div class="row" id="synthControls">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-4 columns">
        <div>
          <h3>Synths:</h3>
          <select id="synth">
            <option value="MiniSquare">MiniSquare</option>
            <option value="SweetChords">SweetChords</option>
          </select>
        </div>
      </div>
      <div class="small-4 columns">
        <h3>Volume:</h3>
          <div id="synthVolume" class="range-slider radius" data-slider>
            <span class="range-slider-handle"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
          </div>
        </div>
      <div class="small-4-columns"></div>
    </div>
  </div>
</div>
